

#header_name {
    font-family: sans-serif, monospace;
    color: #30799B;
}

#header_name:link {
    text-decoration: none;
}

h2 {
    padding: 10px;
    color: #485F6E;
}

h3 {
    padding: 7px
    font-size: 23px;
    color: #485F6E;
}

h4 {
    color: #485F6E;
}

body {
    background: url(background.jpg) no-repeat center center fixed;
    background-size: cover;
    border-radius: 10px;
    background-color: seashell;
}


table {

    padding: 70px;
    border-radius: 10px;
    background-color: #BFDDE0;
}


.order_bar {
    border-radius: 5px;
    background-color: #BFDDE0;
    padding: 0.3em 1em;
}

#search {
    padding: 15px 30px;
    height: 30px;
    width: 230px;
    border-radius: 3px;
    background-color: seashell
}



#link_btn:link {
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    color: #30799B;
}

#link_btn:hover {
    background: #BFDDE0;
    text-decoration: none;
    color: white;
}

#link_btn:visited {
    text-decoration: none;
}

#link_btn:active {
    size: auto;
}

#all_q_btn {
    height: 30px;
    width: 50px;
    display: inline-block;
    font-size: 16px;

}


.square_btn {
    alignment: right;
    height: 35px;
    width: 200px;
    display: inline-block;
    padding: 0.1em 1em;
    color: #30799B;
    border-radius: 3px;
    transition: .4s;
}


.square_btn:hover {
    background: #BFDDE0;
    text-decoration: none;
    color: white;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


.login-box {
    width: 320px;
    height: 420px;
    background: rgba(0,0,0,0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}



.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #1c8abd;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover {
    color: #39dc79;
}